In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('resnet50_moth_classifier_hie.log', sep='\t')

In [17]:
df

,epoch,time_cost,train_loss,valid_loss,t_center,t_species,t_genus,t_family,v_center,v_species,v_genus,v_family,Unnamed: 12
0,1,518.02,13.244909,9.296710,0.849518,6.184450,5.075730,1.135211,0.552457,4.742676,3.451533,0.550044,NaN
1,2,1035.56,7.573775,5.910656,0.679940,3.949343,2.584176,0.360317,0.756781,3.161207,1.789996,0.202671,NaN
2,3,1553.19,5.175228,4.385036,0.719416,2.812033,1.459903,0.183877,0.770363,2.367012,1.111985,0.135677,NaN
3,4,2068.89,3.911377,3.432225,0.698291,2.160916,0.939215,0.112955,0.724488,1.872085,0.740333,0.095319,NaN
4,5,2587.17,3.163751,2.878860,0.665870,1.754631,0.658041,0.085209,0.687779,1.563326,0.554369,0.073386,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,135,69944.07,0.754908,1.210011,0.332221,0.357787,0.055162,0.009738,0.393552,0.558850,0.212909,0.044700,NaN
135,136,70460.81,0.719944,0.980592,0.327364,0.339632,0.046907,0.006041,0.349609,0.474317,0.137986,0.018680,NaN
136,137,70976.29,0.767676,1.449387,0.330995,0.360523,0.060698,0.015460,0.389357,0.649988,0.263771,0.146271,NaN
137,138,71492.67,0.722737,1.023243,0.329444,0.339186,0.046322,0.007786,0.361716,0.495950,0.143409,0.022167,NaN
138,139,72008.69,0.684969,1.032372,0.322075,0.321097,0.038498,0.003300,0.357818,0.494950,0.152882,0.026723,NaN

In [18]:
df.iloc[np.argmin(df.valid_loss.values)]

epoch            136.000000
 time_cost     70460.810000
train_loss         0.719944
valid_loss         0.980592
  t_center         0.327364
 t_species         0.339632
   t_genus         0.046907
  t_family         0.006041
  v_center         0.349609
 v_species         0.474317
   v_genus         0.137986
  v_family         0.018680
Unnamed: 12             NaN
Name: 135, dtype: float64

In [20]:
df.iloc[np.argmin(df.valid_loss.values)]

epoch            136.000000
 time_cost     70460.810000
train_loss         0.719944
valid_loss         0.980592
  t_center         0.327364
 t_species         0.339632
   t_genus         0.046907
  t_family         0.006041
  v_center         0.349609
 v_species         0.474317
   v_genus         0.137986
  v_family         0.018680
Unnamed: 12             NaN
Name: 135, dtype: float64